@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');






//fonts
$font-heavy: 'Atkinson Hyperlegible', sans-serif;
$font-normal: 'Atkinson Hyperledgible', sans-serif;

//flex width
$flex-size: 325px;

//font-sizes
$header-l: 67.78px;
$header-m: 41.89px;
$header-s: 25.89px;


//Primary colors
$dark: #050428;
$medium: #363356;
$accent: #E5FF94;

//Custom setup of colors:
$bg-body-gradient: linear-gradient($dark, $medium);
$bg-card: rgba(5,4,40,0.3);
$bg-form: rgba(229,255,148,0.16);


h1, h2, h3, p, a {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: $accent;
}

// got hamburger from: https://codepen.io/Danilo06/pen/PoNNvGm as BS hamburger did not want to play

label{

    display:flex;
    flex-direction:column;
    width:50px;
    cursor:pointer;
    }
    
    label span{
     background: $accent;
     border-radius:10px;
     height:3px;
     margin: 7px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   
   span:nth-of-type(1){
     width:50%;
     
   }
   
   span:nth-of-type(2){
     width:100%;
   }
   
   
   span:nth-of-type(3){
     width:75%;
    
   }
   
   
   input[type="checkbox"]{
     display:none;
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(8px,0px)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(23px, -10px) rotatez(45deg);
   
   }


h1 {
    font-size: $header-l;
    margin-bottom: 0;
}


nav {
    margin-bottom: 4rem;
}
.nav-link {
    font-family: $font-normal;
    color: $accent;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
button:focus:not(:focus-visible) {
    outline: none;
}
.navbar > .container-fluid {
    width: 100%;
    display: flex;

}
.navbar-nav {
    margin-left: auto;
}

.container-fluid > img {
    max-height: 3rem;
    margin-right: auto;
}

header {
    height: 19rem;
    display: grid;
    place-content: center;
    background-image: url(../../assets/images/john-schnobrich-2FPjlAyMQTA-unsplash\(1\)\(1\).jpg);
    background-color: $medium;
    background-blend-mode: multiply;
    margin-bottom: 5rem;
}
header > div {
    height: max-content;
    align-items: center;
}
header p {
    font-size: $header-s;
    margin-bottom: 0;
}

body {
    background: $bg-body-gradient;
    background-position: center;
    background-attachment: fixed;
    color: $accent;
    min-height: 100vh;
}

.header-image img {
    max-height: 120px;
    padding-right: 1rem;
}
.header image > * {
    justify-content: center;
}

.card img {
    max-height: 15rem;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 6.25rem;
}
.hidden {
    display: none;
}
.card {
    --bs-gutter-x: 0;
    border-radius: .5rem;
    border: none;
    overflow: hidden;
    margin-bottom: 2rem;
    flex: 1 1 $flex-size;
    max-height: fit-content;
    background: $bg-card;
    cursor: pointer;
    transition: all .4s ease-in-out;
    transform: scale(1);
}
.description {
    margin-bottom: auto;
}
.card:hover {
    transform: scale(1.05);
}
.card-inner {
    display: flex;
    justify-content: space-between;

    &-right {
        text-align: end;
        justify-content: flex-end;
    }
}
// PROFILE

.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 0 4rem;
}
.profile > * {
    flex: 1 1 $flex-size;
}
.profile h2 {
    margin-bottom: 2rem;
}
.profile-inner p {
    line-height: .5rem;
}
.profile > section:last-of-type hr {
    margin-bottom: auto;
}
.img-container {
    position: relative;
}

.img-container img:first-of-type {
    position: absolute;
    z-index: 1;
}
.img-container img:last-of-type {
    position: absolute;
    left: 23px;
    top: 23px;
    z-index: 2;
    max-width: 86px;
    border-radius: 50%;
    overflow: hidden;
}
.img-container {
    height: 132px;
    overflow: hidden;
}

.loadingContainer {
    width: 100%;
    height: 20rem;
    display: grid;
    place-content: center;

    p {
        padding: 3rem 5rem;
        background: linear-gradient(0.25turn, $dark, $medium);
        font-size: $header-s;
        border-radius: 10px;
        background-size: 200%;
        animation: drag 3s linear infinite;
    }
}

.card-body {
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@keyframes drag {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

label {
    font-family: $font-normal;
}

.forms {
    padding: 2rem;
    background-color: $bg-card;
    border-radius: .5rem;
    min-width: 300px;
    max-width: 350px;
    height: fit-content;
    margin: auto;
    
}

.form-control {
    background-color: $bg-form;
    border: none;
    color: $accent;
    &:focus {
        background-color: $bg-form;
    }
}
.form-control:focus {
    color: $accent;
}

.forms button, .bid-container form button {
    background-color: $accent;
    font-size: $header-s;
    font-weight: 700;
    width: 100%;
}
#bidInput::-webkit-outer-spin-button,
#bidInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}
.profileForm {
    max-width: 350px;
    margin-left: auto;
    margin-bottom: 3rem;

    label {
        width: fit-content;
        font-weight: 700;
        padding: .5rem 1rem;
    }
}
.profileForm input {
    width: 100%;
}

.forms button:hover {
    background-color: $bg-card;
    border: 1px solid $accent;
}

.bid-container {
    form {
        display: flex;
        width: 100%;
    }
    input {
        border-radius: 0;
    }
    div:first-of-type {
        width: 100%;
    }
    button {
        height: 100%;
        border-radius: 0;
    }
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
}
